/* General Styles */
:root {
    --primary-color: #003366;
    --secondary-color: #d4edda;
    --text-color: white;

}

body {
    font-family: 'Roboto', sans-serif;    
    padding: 0;
    max-width: 900px;
    margin: 0 auto;
    box-sizing: border-box;
}

header {
    background-color: #003366;
    color: white;
}

header h1 {
    margin-left: 10px;
}

.container {
    display: grid;
    grid-template-rows: 1fr;

}
.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;   
    
}
.logo img {
    width: 70px;
    height: auto !important;
}

.nav-links {    
    background-color: black;
    padding: 10px;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav-links li {
    list-style-type: none;
}

.nav-links a {
    text-decoration: none;
    color: white;
    padding: 10px;
}

.hamburger {
    display: none; /* Hidden by default */
}

.hamburger .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

.hamburger.bar:first-child {
    transform: translateY(0);
}

.hamburger.bar:nth-child(2) {
    transform: translateY(0);
}

.hamburger.bar:nth-child(3) {
    transform: translateY(0);
}

.hamburger:hover.bar {
    background-color: #333;
}

.container-2 {
   display: grid;
   grid-template-rows: 1fr;
   margin: 0 20px;
}

.container-3 {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 20px;
    
    
}
#courseList li {
    background-color: #fff;
    margin-right: 30px;
    font-size: smaller;
    padding: 3px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: transform 0.2s ease-in-out;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#courseList li:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#courseList li:last-child {
    font-weight: bold;
    background-color: #e0e0e0;
    border-top: 2px solid #333;
    margin-top: 10px;
}

.credits {
    color: #666;
    font-style: italic;
    margin-left: 10px;
    flex-shrink: 0;
}

.location-img {
    width: 90%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 0.5rem;
    
}

.coursework, .location, .certificate {
    
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.coursework h2, .location h2, .certificate h2 {
    margin-bottom: 10px;
    color: var(--text-color);
    
    background-color: var(--primary-color);
    padding: 10px; 
    border-radius: 8px 8px 0 0;     
}

/* Course Cards */

.course-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Responsive columns */
    gap: 10px; /* Space between grid items */
    margin-top: 10px;
}

/* Course Card Styles */
.course-card {
    background-color: #D3D3D3; /* Default background color */
    color: black;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

/* Style for completed courses */
.course-card.completed {
    background-color: #8B4513; /* Darker color for completed courses */
    color: black;
}

.filter-buttons > button {
    width: 5rem;
    padding: 10px;
    margin: 0 5px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}   

.filter-buttons > button:hover {
    background-color: #333;
    transition: background-color 0.3s ease-in-out;
    transform: scale(1.1);
}

#courseList li {
    display: flex;
    list-style: none;
    margin-bottom: 10px;
    text-align: left;
}

#courseList li span {
    font-weight: bold;
    margin-right: 10px;
    text-align: right;
}

/* Footer */
footer {
    margin-top: 20px;
    background-color: var(--primary-color);
    color: var(--text-color);  
    text-align: center;
    padding: 10px;    
}
footer p {
    margin: 0;
}

/* Responsive Styles */
@media (max-width: 768px) {
   .nav-links {
       display: none; /* Hide links on small screens */
   }

   .hamburger {
       display: block; /* Show hamburger menu */
   }

   .course-cards {
    grid-template-columns: 1fr; /* Single column layout on small screens */
}
}
